<!DOCTYPE html>
<html>
<head>
	<title>Nav Tree In JQuery</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		ul li{
			list-style:  none;
		}
	</style>
</head>
<body>
	<ul class="all-season" id="all-season">IPL Chart</ul>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script src="jquery-3.3.1.min.js"></script> -->
<script type="text/javascript" src="domOperations.js"></script>
<script type="text/javascript">
</script>
</html>